body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #e9ecef; /* Fondo para toda la página */
  }
  
  .title-container {
    text-align: center; /* Centra el texto del título */
    margin-bottom: 20px; /* Agrega un margen inferior */
  }
  
  .title {
    margin: 0; /* Elimina el margen por defecto del h1 */
    font-size: 24px; /* Ajusta el tamaño de fuente */
    font-weight: bold; /* Hace el texto en negrita */
    color: #333; /* Establece el color del texto */
  }
  
  table {
    width: 80%; /* Ajusta el ancho de la tabla */
    margin-bottom: 20px; /* Agrega un margen inferior a la tabla */
  }
  
  .mat-paginator {
    display: flex;
    justify-content: center;
  }