<div class="container" *ngIf="verificar()">
  <div class="title-container">
    <h1 class="title">Registro de Reserva</h1>
  </div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo_res" readonly />
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha reserva</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechareserva" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fechareserva')?.hasError('required')">
          La fecha de reserva es obligatoria.
        </mat-error>
      </mat-form-field>

      <br />

      <br />
      <mat-form-field class="example-full-width" *ngIf="isAdmin()">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario_res">
          <mat-option *ngFor="let c of listaUsuarios" [value]="c.idUsuario">
            {{c.nameUsuario}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuario_res')?.hasError('required')"
        >El usuario es obligatorio.</mat-error>       
     
      </mat-form-field>
      <br />

      <button mat-raised-button class="custom-warn-button" >Aceptar</button>
    </form>
  </div>