<div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo_rol" readonly />
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <input matInput formControlName="rol" />
        <mat-error *ngIf="form.get('rol')?.hasError('required')"
          >EL rol es obligatorio.</mat-error>
      </mat-form-field>
      <br />

      
      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario_">
          <mat-option *ngFor="let c of listaUsuarios" [value]="c.id">
            {{c.username}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('usuario_')?.hasError('required')"
        >El usuario es obligatorio.</mat-error>       
     
      </mat-form-field>
      <br />


      <button mat-raised-button color="accent">Aceptar</button>
    </form>
  </div>
