body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .title {
    margin: 0; 
    font-size: 24px; 
    font-weight: bold;
    color: #333; 
  }
  
  table {
    width: 80%; 
    margin-bottom: 20px; 
  }
  
  .mat-paginator {
    display: flex;
    justify-content: center;
  }

  .custom-primary-button {
    background-color: #EE7200 ;
    color: black ;
  }
  
  .custom-primary-button:hover {
    background-color: #d65f00 ;  
  }