<div class="container" *ngIf="verificar()">
  <div class="title-container"><h1 class="title">Lista de Reservas</h1></div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="codigo_res">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{ element.idReservas }}</td>
    </ng-container>

    <ng-container matColumnDef="fechareserva">
      <th mat-header-cell *matHeaderCellDef class="header-icon">Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaReserva }}</td>
    </ng-container>

    <ng-container matColumnDef="usuario_res">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">
        {{ element.usuario.nameUsuario }}
      </td>
    </ng-container>



    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['ediciones',element.idReservas]"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef class="header-icon">Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="deletes(element.idReservas)"><mat-icon>deletes</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2, 4, 8]" showFirstLastButtons></mat-paginator>
</div>