<mat-toolbar color="warn">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsuarios">Usuarios</button> 
  <button mat-button [matMenuTriggerFor]="menuBiblioteca">Biblioteca</button> 
  <button mat-button [matMenuTriggerFor]="menuCafeteria">Cafeteria</button>
  <button mat-button [matMenuTriggerFor]="menuTransporte">Transporte</button> 
  <button mat-button [matMenuTriggerFor]="menuMenu">Menu</button> 
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo"><mat-icon>add_circle</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuBiblioteca="matMenu">
  <button mat-menu-item routerLink="/biblioteca"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/biblioteca/nuevo"><mat-icon>add_circle</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuCafeteria="matMenu">
  <button mat-menu-item routerLink="/cafeteria"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/cafeteria/nuevo"><mat-icon>add_circle</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuTransporte="matMenu">
  <button mat-menu-item routerLink="/transporte"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/transporte/nuevo"><mat-icon>add_circle</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuMenu="matMenu">
  <button mat-menu-item routerLink="/menu"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/menu/nuevo"><mat-icon>add_circle</mat-icon>Registrar</button>
</mat-menu>


<router-outlet></router-outlet>
