<mat-toolbar color="primary">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsuarios">Usuarios</button> 
  <button mat-button [matMenuTriggerFor]="menuBiblioteca">Biblioteca</button> 
  <button mat-button [matMenuTriggerFor]="menuCafeteria">Cafeteria</button>
  <button mat-button [matMenuTriggerFor]="menuTransporte">Transporte</button> 
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuBiblioteca="matMenu">
  <button mat-menu-item routerLink="/biblioteca">Listar</button>
  <button mat-menu-item routerLink="/biblioteca/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuCafeteria="matMenu">
  <button mat-menu-item routerLink="/cafeteria">Listar</button>
  <button mat-menu-item routerLink="/cafeteria/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuTransporte="matMenu">
  <button mat-menu-item routerLink="/transporte">Listar</button>
  <button mat-menu-item routerLink="/transporte/nuevo">Registrar</button>
</mat-menu>


<router-outlet></router-outlet>
