<mat-toolbar class="mat-toolbar-custom" *ngIf="verificar()">
  <button mat-button [routerLink]="['/homes']">
    <mat-icon>home</mat-icon>Home
  </button>
  <div class="forma">
    <div>
      <button mat-button [matMenuTriggerFor]="menuUsuarios" *ngIf="isAdmin()">
        Usuarios
      </button>
      <button mat-button [matMenuTriggerFor]="menuTypeUser" *ngIf="isAdmin()">
        Tipo Usuario
      </button>
      <button mat-button [matMenuTriggerFor]="menuBiblioteca" *ngIf="isAdmin()">
        Biblioteca
      </button>
      <button mat-button [matMenuTriggerFor]="menuLibro" *ngIf="isAdmin()">
        Libro
      </button>
      <button mat-button [matMenuTriggerFor]="menuCafeteria" *ngIf="isAdmin()">
        Cafeteria
      </button>
      <button mat-button [matMenuTriggerFor]="menuMenu" *ngIf="isAdmin()">
        Menu
      </button>
      <button mat-button [matMenuTriggerFor]="menuTransporte" *ngIf="isAdmin()">
        Transporte
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="menuRecargaSaldo"
        *ngIf="isAdmin()"
      >
        Recarga
      </button>
      <button mat-button [matMenuTriggerFor]="menuReservas" *ngIf="isAdmin()">
        Reservas
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="menuDetalleReservas"
        *ngIf="isAdmin()"
      >
        Detalle Reserva
      </button>
      <button mat-button [matMenuTriggerFor]="menuReport" *ngIf="isAdmin()">
        <mat-icon>file_copy</mat-icon>Reportes
      </button>
      <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>
    </div>
    <img
      src="https://i.ibb.co/YcqH8z1/vwalletweb-logo.jpg"
      alt="Logo"
      style="height: 50px"
    />
  </div>
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/usuarios/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuTypeUser="matMenu">
  <button mat-menu-item routerLink="/typeusers">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/typeusers/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuBiblioteca="matMenu">
  <button mat-menu-item routerLink="/biblioteca">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/biblioteca/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuLibro="matMenu">
  <button mat-menu-item routerLink="/libro">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/libro/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuCafeteria="matMenu">
  <button mat-menu-item routerLink="/cafeteria">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/cafeteria/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuMenu="matMenu">
  <button mat-menu-item routerLink="/menu">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/menu/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuTransporte="matMenu">
  <button mat-menu-item routerLink="/transporte">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/transporte/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuRecargaSaldo="matMenu">
  <button mat-menu-item routerLink="/recargasaldo">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/recargasaldo/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuMenu="matMenu">
  <button mat-menu-item routerLink="/menu">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/menu/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuReservas="matMenu">
  <button mat-menu-item routerLink="/reservas">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/reservas/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuDetalleReservas="matMenu">
  <button mat-menu-item routerLink="/detallereservas">
    <mat-icon>list</mat-icon>Listar
  </button>
  <button mat-menu-item routerLink="/detallereservas/nuevo">
    <mat-icon>add_circle</mat-icon>Registrar
  </button>
</mat-menu>

<mat-menu #menuReport="matMenu">
  <button mat-menu-item routerLink="/reportes">Reporte 1</button>
  <button mat-menu-item routerLink="/reportes/reporte02">Reporte 2</button>
  <button mat-menu-item routerLink="/reportes/reporte03">Reporte 3</button>
  <button mat-menu-item routerLink="/reportes/reporte04">Reporte 4</button>
  <button mat-menu-item routerLink="/reportes/reporte09">Reporte 9</button>
  <button mat-menu-item routerLink="/reportes/reporte10">Reporte 10</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ tipousuario }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
