@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Sen', sans-serif;
}

.background {
    display: flex;
    height: 100vh;
    background-color: #EE7200;
}

.image-container {
    flex: 1;
    position: relative;
}

.image-container img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; 
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    width: 100px;
    margin-bottom: 1rem;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

mat-form-field {
    width: 100%;
}

h2 {
    margin-bottom: 1rem;
    color: black;
    font-weight: 1000;
}

button {
    width: 100%;
    margin-top: 1rem;
}

.custom-warn-button {
    background-color: #EE7200 !important;
    color: black !important ;
}

.custom-warn-button:hover {
    background-color: #d65f00 !important;
}

body, p, h1, h2, h3, h4, h5, h6, button, input, mat-form-field {
    font-family: 'Sen', sans-serif ;
}