<section class="hero-section with-background-img">
    <h1>Despídete de las monedas</h1>
    <p>
      Utiliza una cartera online para pagar todos tus servicios de la universidad.
    </p>
    <button mat-raised-button [routerLink]="['/login']">Iniciar Sesion</button>
    <button mat-raised-button [routerLink]="['/register']">Registrar </button>
  </section>
  <section class="benefits-section no-background">
    <h1>VWallet y tus servicios de la UPC</h1>
    <p>
      El COVID-19 nos ha obligado a todos a desenvolvernos en un entorno cada vez
      más digital. Día tras día, se van sumando más personas a los medios
      digitales para realizar sus pagos, en lugar de portar dinero en efectivo
      (monedas y/o billetes).
    </p>
    <p>
      La Universidad Peruana de Ciencias Aplicadas (UPC) no es ajena a esta
      realidad. Por ello, ha implementado VWallet, una cartera online que te
      permitirá pagar todos tus servicios de la universidad de manera rápida y
      segura.
    </p>
  
    <div class="benefits-list">
      <div class="benefit-div">
        <p>01</p>
        <p>Dinero Virtual</p>
      </div>
      <div class="benefit-div">
        <p>02</p>
        <p>Reserva</p>
      </div>
      <div class="benefit-div">
        <p>03</p>
        <p>Gestión</p>
      </div>
    </div>
  </section>
  <section class="safe-section with-background-img">
    <h2>VWallet está aprobado por la UPC</h2>
    <p>
      JABEL tiene una asociación con la UPC para vincular los sistemas de pagos del
      aplicativo con el de la plataforma de la universidad.
    </p>
    <button mat-raised-button type="button">¿Quiénes somos?</button>
  </section>
  <section class="services-section no-background">
    <h2>Menú y Buses a pocos clicks</h2>
    <div class="services-list">
      <div class="service-div">
        <img
          src="https://static.helpjuice.com/helpjuice_production/uploads/upload/image/5272/direct/1568869628811-cafeteria.jpg"
          alt="Cafeteria de la UPC San Isidro"
        />
        <h3>Cafetería</h3>
        <p>
          Evita el contacto directo con tus monedas o billetes justo antes de
          almorzar.
        </p>
      </div>
      <div class="service-div">
        <img
          src="https://memoria.upc.edu.pe/2017/imagenes/compromisos/gestion-responsable/una-sola-fuerza2.jpg"
          alt="Personas llevando cajas en el bus de la UPC"
        />
        <h3>Transporte</h3>
        <p>
          Los servicios de buses solo aceptan medios con restricciones de edad.
        </p>
      </div>
      <div class="service-div">
        <img
          src="https://mi.upc.edu.pe/loginclass/new_login/img/img-servicios.jpg"
          alt="Dos jóvenes estudiando"
        />
        <h3>Reserva</h3>
        <p>
          Con VWallet, tienes la posibilidad de reservar un servicio pagándolo por
          adelantado.
        </p>
      </div>
    </div>
  </section>
  
  <section class="cta-section no-background">
    <h2>¿Qué estás esperando?</h2>
    <h3>¡Descarga VWallet ahora!</h3>
    <div class="download-options">
      <a
        href="https://play.google.com/store/games?device=windows"
        target="_blank"
      >
        <img
          src="https://getsby.com/wp-content/uploads/2023/06/google-play-badge.png"
          alt="Play Store link to download the app"
          width="300"
        />
      </a>
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img
          src="https://www.ontarioca.gov/sites/default/files/Ontario-Files/app_store.png"
          alt="App Store link to download the app"
          width="300"
        />
      </a>
    </div>
  </section>
  <footer>
    <img
      src="https://i.ibb.co/YcqH8z1/vwalletweb-logo.jpg"
      alt="VWallet Logo with dark background"
    />
    <p>&commat;Copyright 2024</p>
  </footer>
