<div class="container">
  <div class="title-container">
    <h1 class="title">Registro de Transporte</h1>
  </div>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo_trans" readonly />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sede salida</mat-label>
      <mat-select matInput formControlName="universidad_salida">
        <mat-error *ngIf="form.get('universidad_salida')?.hasError('required')"
          >La sede de salida es obligatorio.</mat-error
        >
        <mat-option *ngFor="let g of listaSedes" [value]="g.value">
          {{ g.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sede llegada</mat-label>
      <mat-select matInput formControlName="universidad_llegada">
        <mat-error *ngIf="form.get('universidad_llegada')?.hasError('required')"
          >La sede de destino es obligatorio.</mat-error
        >
        <mat-option *ngFor="let g of listaSedes" [value]="g.value">
          {{ g.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora salida</mat-label>
      <input matInput formControlName="hora_salida" />
      <mat-hint>HH:MM</mat-hint>
      <mat-error *ngIf="form.get('hora_salida')?.hasError('required')"
        >La hora de salida es obligatoria.</mat-error
      >
      <mat-error *ngIf="form.get('hora_salida')?.hasError('pattern')"
        >La hora se debe regir a un formato.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora llegada</mat-label>
      <input matInput formControlName="hora_llegada" />
      <mat-hint>HH:MM</mat-hint>
      <mat-error *ngIf="form.get('hora_llegada')?.hasError('required')"
        >La hora de llegada es obligatoria.</mat-error
      >
      <mat-error *ngIf="form.get('hora_llegada')?.hasError('pattern')"
        >La hora se debe regir a un formato.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio" />
      <mat-error *ngIf="form.get('precio')?.hasError('required')"
        >EL precio es obligatorio.</mat-error
      >
    </mat-form-field>

    <button mat-raised-button class="custom-warn-button">Aceptar</button>
  </form>
</div>
